ul#messages

form(id:"new-message")
  input(type: 'text')

script(src: "/socket.io/socket.io.js")
script(src: "/javascripts/lib/jquery-1.5.2.min.js")
script(src: "/javascripts/lib/holla_back.js")
script(src: "/javascripts/client_socket_emitter.js")
script(src: "/javascripts/dom.js")

